.btn-primary, .btn-secondary {
    display: inline-block;
    border-radius: 5px;
    padding: 8px 20px;
  }
  
  .box {
    max-width: 1100px;
    padding: 0 30px;
    margin: 0 auto;
    overflow: auto;
  }

  
  .btn-primary:hover, .btn-secondary:hover {
    transform: scale(0.8);
  }
  
  .btn-primary {
    background-color: #3b200d;
    color: rgb(242, 234, 234);
  }
  
  .btn-secondary {
    background-color: #3b200d;
    color: rgb(238, 227, 227);
  }
  
  .box {
    max-width: 1100px;
    padding: 0 30px;
    margin: 0 auto;
    overflow: auto;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #F3D2AC;
    font-family: Trebuchet MS, Arial, sans-serif;
    line-height: 1;
  }
  
  img {
    border-radius: 55%;
    height: 32em;
  }
  
  a {
    text-decoration: none;
  }
  
  .hero {
    background-color: #afafaf;
    color: white;
    height: 600px;
  }
  
  .hero nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .hero nav ul {
    display: flex;
    list-style-type: none;
  }
  
  .hero nav li {
    padding: 15px;
  }
  
  .hero nav a {
    color: white;
  }
  
  .hero nav a:hover {
    color: #916d44;
  }
  
  .hero-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  
  .hero-content img {
    width: 50%;
  }
  
  .hero-content h1 {
    font-size: 50px;
    line-height: 1.2;
  }
  
